$font-family--Montserrat: 'Montserrat', sans-serif;   
$font-family--Proxima-Nova: 'Montserrat', sans-serif;   


:root {
    --font-family-Montserrat: 'Montserrat', 'Arial', sans-serif;

    --screen-table: 744px;

    --color-light:#A1AAB2;
    --color-white:#fff;
    
    --color-title:#000000CC;
    --color-content-text:#00000099;
  
    --color-win:#62B435;
    --color-draw:#A1AAB2;
    --color-loss:#F64747;
  
    --color-blue:#3498DB;
    --color-blue-hover: #3498dbb2;
    --color-blue-active: #3498db4d;
    
    --color-border-light:#0000001A;
    --color-bg-light:#F9F9FA;
  }
  